/* 
    Author: Chilaka Michael Obinna	
    Author URL: github.com/siccoo	
    Version: 1.0.0	Version: 1.0.0
    Website:
*/

* {
    margin: 0;
    padding: 0;
}

/* NAVIGATION */
#nav-bar  {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding: 0 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #12143D !important;
}

.navbar {
    background: #fff;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
}

/* SLIDER STYLING */
#slider {
    width: 100%;
}

.img-fluid {
    width: 100%;
    min-height: 150px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 25px;
}

/* ABOUT SECTION STYLING */
#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #556;
}

#about h2 {
    padding: 30px;
}

#about .btn {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #12143D;
    border: #12143D;
}

.about-content {
    padding-top: 20px;
}

.skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}

.progress {
    border-radius: 16px !important;
    margin-bottom: 10px;
}

.progress-bar {
    border-radius: 16px;
}

#about .bar-1 {
    width: 90%;
    background-color: #12143D;
}

#about .bar-2 {
    width: 83%;
    background-color: #12143D;
}

#about .bar-3 {
    width: 95%;
    background-color: #12143D;
}

#about .bar-4 {
    width: 97%;
    background-color: #12143D;
}

#about .bar-5 {
    width: 70%;
    background-color: #12143D;
}

/* SERVICES SECTION STYLING */
#services {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../images/back2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #efefef !important;
}

#services h1 {
    text-align: center;
    padding-bottom: 50px;
    color: #efefef !important;
}

#services h1::after {
    content: "";
    background: #efefef;
    display: block;
    height: 3px;
    width: 220px;
    margin: 20px auto 5px;
}

.services {
    margin-top: 40px;
}

.icon {
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 30%;
}

/* .icon i {
    margin-top: 0px 0;
    padding-top: 10px;
} */

#services p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}

.services .col-md-3:hover {
    background: #12143D;
    cursor: pointer;
    transition: 2s;
}

/* TEAM MEMBERS SECTION STYLING */
#team {
    padding: 50px;
    color: #555;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    color: #555 !important;
}

h1::after {
    content: "";
    background: #12143D;
    display: block;
    height: 3px;
    width: 220px;
    margin: 20px auto 5px;
}

.profile-pic {
    margin-top: 25px;
}

.profile-pic .img-box {
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img {
    filter: grayscale(1);
}

.profile-pic .img-box img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #12143D !important;
}

.profile-pic h4 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

#team .fa {
    height: 25px;
    width: 25px;
    color: #12143D !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%; 
}

.img-box ul {
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.img-box ul li {
    padding: 2px;
    display: inline-block;
    margin-bottom: 150px;
}

.img-box:hover ul {
    opacity: 1;
}

.img-box ul, .img-box ul li {
    transition: 0.7s;
}